*{
    margin: 0%;
    padding: 0%;
}

body {
    background-color: #FFFFFF;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
}

img {
    max-inline-size: 100%;
    block-size: auto;
}

ul {
    list-style-image: url(./images/icon.png);
}
  
li {
    margin-inline-start: 40px;
    margin-block-end: 10px;
}

a { 
    text-decoration: none;
}

aside {
    margin-inline-start: 10px;
}

.pt {
    margin-inline-start: 10px;
    margin-block-start: 20px;
    margin-block-end: 10px;
}

.info {
    display: block;
    margin-inline-start: 30px;
    margin-block-end: 10px;
}

.image {
    margin-inline-start: 10px;
    margin-inline-end: 10px;
}

.headings {
    font-size: 24px;
    font-family: 'Playfair Display', serif;
    margin-inline-start: 10px;
    margin-block-start: 20px;
    margin-block-end: 20px;
}

.headings-2 {
    font-size: 18px;
    font-style: italic;
    margin-inline-start: 10px;
    margin-block-start: 20px;
    margin-block-end: 20px;
}

.bullet {
    display: inline-block;
    margin-inline-end: 30px;
    margin-inline-start: 10px;
    background-color: #F2994A;
    color: #FFFFFF;
    font-family: 'Playfair Display', serif;
    font-size: 24px;
    text-align: center;
} 

footer {
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: white;
}

.username-github-link, .devchallengelink {
    color: white;
}
  
.username-link:hover {
    color: black;
}

.devchallenges-link:hover {
    color: #f7542e;
}