*{
    margin: 0%;
    padding: 0%;
}

body {
    background-color: #FFFFFF;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
}

img {
    max-inline-size: 100%;
    block-size: auto;
}

ul {
    list-style-image: url(./images/icon.png);
}
  
li {
    margin-inline-start: 40px;
    margin-block-end: 10px;
}

a { 
    text-decoration: none;
}

.aside {
    margin-inline-start: 10px;
}

.pt {
    margin-inline-start: 10px;
    margin-block-start: 20px;
    margin-block-end: 10px;
}

.info {
    display: block;
    margin-inline-start: 30px;
    margin-block-end: 10px;
}

.image {
    margin-inline-start: 10px;
    margin-inline-end: 10px;
}

.headings {
    font-size: 24px;
    font-family: 'Playfair Display', serif;
    margin-inline-start: 10px;
    margin-block-start: 20px;
    margin-block-end: 20px;
}

.headings-2 {
    font-size: 18px;
    font-style: italic;
    margin-inline-start: 10px;
    margin-block-start: 20px;
    margin-block-end: 20px;
}

.bullet {
    display: inline-block;
    margin-inline-end: 30px;
    margin-inline-start: 10px;
    background-color: #F2994A;
    color: #FFFFFF;
    font-family: 'Playfair Display', serif;
    font-size: 24px;
    text-align: center;
}

.yield {
    margin-block-start: 10px;
    margin-block-end: 10px;
}

.font {
    font-family: 'Playfair Display', serif;
}

.flex {
    display: flex;
}

.time {
    display: flex;
    justify-content: space-between;
}

.points {
    display: flex;
    margin-block-start: 30px;
    margin-block-end: 30px;
}

.writing {
    display: inline-block;
}

footer {
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: black;
}

.username-github-link, .devchallenge-link {
    color: black;
}
  
.username-github-link:hover, .devchallenge-link:hover {
    color: #f7542e;
}

@media (min-width: 1200px) {

    header b {
        font-size: 48px;
    }
    
    main {
        position: relative;
        inline-size: 969px;
        margin-inline-start: 20%;
    }
    
    .aside {
        position: absolute;
        right: 20px;
        inline-size: 216px;
        block-size: 367px;
        border-radius: 10px;
        box-shadow: 0px 0px 20px 0px #0000001A;
    }
    
    .bullet {
        inline-size: 36px;
        block-size: 36px;
        border-radius: 6px;
    }
    
    .yield {
        margin-inline-start: 50px;
        padding-block-start: 27px;
    }
    
    .prep-time {
        margin-block-start: 5px;
        margin-inline-start: 50px;
        margin-block-end: 15px;
    }
    
    .cook-time {
        margin-inline-start: 50px;
        margin-block-end: 15px;
    }
    
    .total-time {
        margin-inline-start: 50px;
        margin-block-end: 15px;
    }
    
    .time {
        flex-direction: column;
    }
    
    .info {
        inline-size: 590px;
    }
    
    .writing {
        inline-size: 528px;
    }
}

@media (max-width: 1199px) {
  
    header b {
        font-size: 20px;
        margin-inline-start: 20px;
    }
  
    .bullet {
        inline-size: 15px;
        block-size: 15px;
        border-radius: 5px;
        padding-block-end: 20px;
        padding-inline-start: 12px;
        padding-inline-end: 12px;
    }
}